@charset "utf-8";
/* CSS Document */

body
{
	font-family:Arial, Helvetica, sans-serif;
}

h4
{
	color:#ffffff;
}


/* A options */
a:link
{
	color:#009933;
	text-decoration:none;
}
a:visited
{
	color:#00FF33;
	text-decoration:none;
}
a:hover
{
	color:#ffffff;
	text-decoration:underline;
}
a:active
{
	color:#006633;
}